.container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  height: 100%;
  margin-left:8px;
  border-radius: 5px;;
  border: 1px solid black;
}

.title {
  display: flex;
  flex-direction: column;
  width: 100%;
  color:black
}
.numberInner {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.number {
  display: flex;
  flex:1;
  min-width: 60px;
  vertical-align: middle;

  margin-top: auto;
  margin-bottom: auto;
  color:black;
  /* border: 1px solid black; */
}
.number label {
  font-size: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.sliderPanel {
  display: flex;
  /* flex:1; */
}
.slider {
  
  -webkit-appearance: slider-vertical;
  width: 100%;
  height: 100%;
  right:0;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: slider-vertical;
  appearance: none;
  width: 5px;
  height: 5px;
  /* background: #04aa6d; */
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 5px;
  height: 5px;
  background: #04aa6d;
  cursor: pointer;
}


.rgbContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 100%;
  width: 100%;

}

.colourPanelContainer {
  display: flex;
  flex:1;
  padding:8px;
  margin-left: auto;
  margin-right: auto;
  /* border:1px solid gray; */
}
.colourPanel {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  border-radius: 5px;;
  border: 1px solid black;
  background-color: blue;
}

.rgbPanel {
  display: flex;
  width: 100%;
  margin: 8px;
  /* background-color: red; */
}
.rgbPanelNumberRow {
  display: flex;
  flex:2;
  width:100%;
  height: 100%;
}

/* 
 */
.numberBar {
  display: flex;
  margin-bottom: 20px;
}
.numberBar button {
  font-size: 24px;
  padding: 18px;
  border-radius: 8px;
}

.numberBar button:not(:first-child) {
  margin-left: 20px;
}
